* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 12px;
    border-bottom: #5701c728 2px solid;
    border-radius: 10px;
}

.mid-section {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #a5b4ff43;
    padding: 5px;
    text-align: center;
    border-top: #5701c7 2px solid;
    color: darkblue;
    border-radius: 10px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    margin-right: auto;
    margin-left: 6vw;
    color: darkblue;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-items {
    display: flex;
    margin-right: 6vw;
}

.navbar-item {
    margin-right: 20px;
    padding: 10px;
    background-color: #a5b4ff43;
    border-radius: 50px;
    color: darkblue;
    font-weight: 500;
    border: #5701c79d 1px solid;
}

.image {
    width: 50px;
    margin-right: 5px;
}

.navbar-item:hover {
    margin-right: 20px;
    padding: 10px;
    background-color: #ff2d2d0f;
    border-radius: 50px;
    color: #ff2d2d;
    font-weight: 500;
    border: #ff2d2d 1px solid;

}

.links {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
}

.links:hover{
    color: rgb(255, 0, 76);
    
}


.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    grid-gap: 20px;
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
}

.tool {
    
    padding: 20px;
    text-align: center;
    height: 75px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border-radius: 20px;
    border: #fca4ff9f 2px solid;
    color: rgb(0, 0, 106);
    background-color: #cefdd35b;
    padding: auto;
}

@media (max-width: 768px) {
    .tools {
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    }
}

@media (max-width: 480px) {
    .tools {
        grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
    }
}